---
---
@import "uno";
@import "tables";
@import "monokai";
@import "timeline";

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

.content-wrapper {
  display: flex;             /* Use flexbox to center content */
  justify-content: center;   /* Center content horizontally */
  align-items: center;       /* Center content vertically */
  height: 100%;              /* Make sure it takes up the full height */
  width: 100%;               /* Ensure full width */
  flex-direction: column;    /* Align content vertically within wrapper */
}

iframe {
  border: none;
  height: 750px;
  width: 1920px;
}

.media {
  margin-top: 20px; /* Add space between iframe and media content */
  width: 90%;       /* Adjust the width of the media content */
  max-width: 1300px; /* Ensure media doesn't exceed iframe width */
}

  // Media query for mobile devices
  @media (max-width: 768px) {
    iframe {
      width: 90vw;         /* Adjust width for smaller screens */
      height: 60vh;        /* Adjust height for better fit */
      padding: 20px 0;     /* Reduce padding */
    }

    .media {
      width: 90%;          /* Adjust media width for mobile */
      margin-top: 15px;    /* Adjust space for mobile view */
    }
  }

  // Media query for very small devices (e.g., 321px width)
  @media (max-width: 321px) {
    iframe {
      width: 100%;         /* Full width for very small screens */
      height: 50vh;        /* Reduce height */
      padding: 10px 0;     /* Further reduce padding */
    }

    .media {
      width: 100%;         /* Full width for very small screens */
      margin-top: 10px;    /* Adjust space for very small devices */
    }
  }




