---
---
@import "uno";
@import "tables";
@import "monokai";
@import "timeline";

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

.content-wrapper__inner {
  margin-right: 0;
  margin-left: 0;

  iframe {
      border: none;
      width: 100%; // Full width for the viewport
      height: 100vh; // Adjust height to ensure good visibility
      max-width: 800px;
      max-height: 600px;
      margin: 10px;
      display: block;
  }

  // Media query for a specific mobile screen size
  @media (max-width: 321px) and (max-height: 972px) {
      iframe {
          width: 90%; // Slightly reduce the width for better fit
          height: 100vh; // Adjust height for better aspect ratio
          margin: 10px auto; // Reduce margins for tighter space
      }
  }
}

